# Visual Studio Code related
.classpath
.project
.settings/
.vscode/
Frontend/macos/Flutter/ephemeral/flutter_export_environment.sh
Frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
Frontend/linux/flutter/generated_plugins.cmake
Frontend/linux/flutter/generated_plugin_registrant.h
Frontend/linux/flutter/generated_plugin_registrant.cc
Frontend/linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux
Frontend/linux/flutter/ephemeral/.plugin_symlinks/package_info_plus
Frontend/linux/flutter/ephemeral/.plugin_symlinks/device_info_plus
Frontend/linux/flutter/ephemeral/.plugin_symlinks/amplify_db_common
Frontend/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
