# Visual Studio Code related
.classpath
.project
.settings/
.vscode/
Frontend/Smarter_Sleep/smarter_sleep/macos/Flutter/ephemeral/flutter_export_environment.sh
Frontend/Smarter_Sleep/smarter_sleep/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/generated_plugins.cmake
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/generated_plugin_registrant.h
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/generated_plugin_registrant.cc
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/ephemeral/.plugin_symlinks/package_info_plus
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/ephemeral/.plugin_symlinks/device_info_plus
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/ephemeral/.plugin_symlinks/amplify_db_common
Frontend/Smarter_Sleep/smarter_sleep/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
